footer 
    .hidden-overflow
        .quick-links 
            h1.title مطالب مفید
            a(href="#") گرایش ها
            a(href="#") نقش ها
            a(href="#") علاقمندی ها
        .quick-links 
            h1.title پشتیبانی
            a(href="#") سوالات متداول
            a(href="#") ارسال تیکت
            a(href="#") قوانین و مقررات
        .quick-links 
            h1.title دسترسی سریع
            a(href="#") درباره ما
            a(href="#") تماس با ما
            a(href="#") مقالات
            a(href="#") اخبار
        .news-letter 
            h1.title به ما بپیوندید
            .text برای اطلاع از اخبار ویژه سایت شماره تماس خود را وارد نمایید.
            form(action="/newsletter" method="POST") 
                input.text(type="text" name="phone" placeholder="0912XXXXXXX")
                input.submit(type="submit" value="مشترک شدن")
    a(referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=188226&amp;Code=hpnWva29lcClGTdCZAcG")
        img(referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=188226&amp;Code=hpnWva29lcClGTdCZAcG" alt="" style="cursor:pointer" id="hpnWva29lcClGTdCZAcG")
    h1.copy-right کلیه حقوق مادی و معنوی متعلق به فایل استور می‌باشد.